{# vim:set sw=4 ft=htmldjango: #}
<!DOCTYPE html>
<html>
<head>
<title>Academy BDD</title>
<script>
///////////////////////////////////////////////////////////////////////////////
// Configuration provided by server side
///////////////////////////////////////////////////////////////////////////////

var config = ({{ game_json|safe }});
SUITS = config['suits'].map(function (a) { return {letter: a[0], name: a[1], color: a[2], symbol: a[3]}; });

ACE = 14;
SIPS = 14;

///////////////////////////////////////////////////////////////////////////////
// Templates in the HTML layout
///////////////////////////////////////////////////////////////////////////////

// Used by make_template for DOM text nodes
function make_text_template(s) {
    return function (dest, dict) {
        dest.appendChild(document.createTextNode(s));
    };
}

// Used by make_template for DOM elements
function make_el_template(children, tagName, className) {
    return function (dest, dict) {
        var el = document.createElement(tagName);
        for (var i = 0, l = children.length; i < l; ++i) {
            children[i](el, dict);
        }
        if (className) {
            el.className = className;
            dict[className] = el;
        }
        dest.appendChild(el);
    };
}

// Given an element, return a function (dest, dict) that makes a deep copy of
// the element into the given dest, storing references to elements by their
// className in the given dict.
function make_template(e) {
    if (e.nodeType == 3) { // Text
        return make_text_template(e.nodeValue);
    } else if (e.nodeType == 1) { // Element
        var children = [].slice.call(e.childNodes);
        children = children.map(make_template);
        var className = e.className;
        return make_el_template(children, e.tagName.toLowerCase(), className);
    }
}

// Given an element, replace it by l copies using make_template
// and return a list of dictionaries as returned by make_template()(dest, dict).
function unfold_template(e, l) {
    var instances = [];
    var tpl = make_template(e.firstElementChild);
    var container = e.parentNode;
    container.removeChild(e);
    for (var p = 0; p < l; ++p) {
        var dict = {};
        tpl(container, dict);
        instances.push(dict);
    }
    return instances;
}

///////////////////////////////////////////////////////////////////////////////
// Game runtime state.
///////////////////////////////////////////////////////////////////////////////

function Game(elem_by_id, config) {
    // elem_by_id(x) is document.getElementById(x).
    // config
    this.el_deck = elem_by_id('deck');
    this.el_history = elem_by_id('history');
    this.el_chuck = elem_by_id('chuck');
    this.el_chuck_history = elem_by_id('chuck_history');
    this.el_upload_button = elem_by_id('upload_button');
    this.players = config['players'];
    this.suits = this.players.length;
    this.deck = make_shuffled_deck(this.suits);
    this.chucks = [];
    this.history = [];
    this.times = [];
    this.chuck_history = [];

    this.el_state = unfold_template(elem_by_id('playerstatetemplate'),
                                    this.players.length);

    this.render();

    this.is_chucking = false;
}

// Button handler: Draw card
Game.prototype.ui_draw = function Game_ui_draw() {
    if (this.is_chucking) return;
    if (this.deck.length == 0) return;
    var card = this.deck.pop();
    this.history.push(card);
    this.times.push(new Date().getTime());
    this.render();
    if (card_to_number(card) == ACE) {
        this.is_chucking = true;
        this.el_chuck.textContent = 'Start the time!';
    }
};

// Button handler: Start/stop chuck timer
Game.prototype.ui_chuck = function Game_ui_chuck() {
    if (!this.is_chucking) return;
    if (!this.chuck_start) {
        this.chuck_start = new Date().getTime();
        this.start_chuck_timer();
    } else {
        var chuck_stop = new Date().getTime();
        this.stop_chuck_timer();
        var milliseconds = chuck_stop - this.chuck_start;
        this.set_chuck(milliseconds);

        var PLAYERS = this.players.length;
        this.chuck_history.push({
            player: (this.history.length - 1) % PLAYERS,
            card: this.history[this.history.length-1],
            start: this.chuck_start,
            stop: chuck_stop,
            milliseconds: milliseconds
        });

        this.is_chucking = false;
        this.chuck_start = null;

        this.render();
    }
};

// Button handler: Upload game
Game.prototype.ui_save = function Game_ui_save(form) {
    var data = {'cards': this.history, 'cardtimes': this.times, 'chucks': []};
    for (var i = 0; i < this.chuck_history.length; ++i) {
        var c = this.chuck_history[i];
        data['chucks'].push({
            'participant': c.player,
            'card': c.card,
            'start': c.start,
            'stop': c.stop
        });
    }
    form.data.value = JSON.stringify(data);
};

// Button handler: Shuffle
Game.prototype.ui_shuffle = function Game_ui_shuffle() {
    console.log("Shuffling deck...");
    for (var i = 0; i < 52; ++i) {
	return this.cards[i];
    }
};

Game.prototype.start_chuck_timer = function Game_start_chuck_timer() {
    var self = this;
    this.chuck_interval = setInterval(function () {
        var milliseconds = new Date().getTime() - self.chuck_start;
        self.set_chuck(milliseconds);
    }, 10);
};

Game.prototype.stop_chuck_timer = function Game_stop_chuck_timer() {
    clearInterval(this.chuck_interval);
};

function milliseconds_to_string(milliseconds) {
    var minutes = (seconds / 60000) | 0;
    var seconds = (milliseconds / 1000 - minutes * 60) | 0;
    milliseconds = milliseconds % 1000;
    function z(n, l) {
        var s = ''+n;
        while (s.length < l) s = '0' + s;
        return s;
    }
    return z(minutes, 2)+':'+z(seconds, 2)+'.'+z(milliseconds, 3);
}

Game.prototype.set_chuck = function (milliseconds) {
    this.el_chuck.textContent = milliseconds_to_string(milliseconds);
};

Game.prototype.render = function Game_render() {
    this.render_deck();
    this.render_state();
    this.render_history();
    this.render_chuck_history();
    this.el_upload_button.style.display = (
        (this.deck.length == 0) ? '' : 'none');
};

function render_rows(e, rows, celltype) {
    e.innerHTML = '';
    for (var i = 0; i < rows.length; ++i) {
        var row = document.createElement('tr');
        for (var j = 0; j < rows[i].length; ++j) {
            var cell = document.createElement(celltype);
            cell.innerHTML = rows[i][j];
            row.appendChild(cell);
        }
        e.appendChild(row);
    }
}

Game.prototype.render_deck = function Game_render_deck() {
    var rows = [];
    var s = [];
    for (var suit = 0; suit < this.suits; ++suit) {
        var row = [];
        for (var n = 2; n <= ACE; ++n) {
            var c = make_card(suit, n);
            if (this.deck.indexOf(c) == -1) row.push('&mdash;');
            else row.push(card_symbol(c));
        }
        rows.push(row);
    }
    render_rows(this.el_deck, rows, 'td');
};

function round_100(n) {
    var s = n+'';
    return s.replace(/([.,]..).*/, '$1');
}

function capitalize(s) {
    return s.charAt(0).toUpperCase() + s.substring(1, s.length);
}

function card_desc(card) {
    var suit = SUITS[card_to_suit(card)];
    var suit_name = capitalize(suit.name);
    var suit_color = suit.color;
    var numbers = 'Two Three Four Five Six Seven Eight Nine Ten Jack Queen King Ace'.split(' ');
    var number = card_to_number(card);
    number_name = numbers[number - 2];
    return ('<span class="number_'+number+'">'+number_name+'</span> of <span style="color: '+suit_color+'">'+suit_name+'</span>');
}

function card_symbol(card) {
    var suit = SUITS[card_to_suit(card)];
    var n = card_to_number(card);
    if (n > 10) n = 'JQKA'.charAt(n-11);
    return ('<b style="color: '+suit.color+'">'
            +suit.symbol+'</b><b class="number_'+n+'">'+n+'</b>');
}

Game.prototype.render_state = function Game_render_state() {
    var PLAYERS = this.players.length;
    var sips = [];
    var n = [];
    for (var i = 0; i < PLAYERS; ++i) {
        sips.push(0);
        n.push(0);
        for (var j = i; j < this.history.length; j += PLAYERS) {
            sips[i] += card_to_number(this.history[j]);
            ++n[i];
        }
    }
    var positions = new Array(PLAYERS);
    var standings = sips.slice().map(function (s, i) { return [s, i]; });
    standings.sort(function (a, b) { return b[0] - a[0]; });
    for (var i = 0; i < PLAYERS; ++i) {
        if (i > 0 && standings[i][0] == standings[i-1][0]) {
            positions[standings[i][1]] = positions[standings[i-1][1]];
        } else {
            positions[standings[i][1]] = i+1;
        }
    }
    for (var i = 0; i < PLAYERS; ++i) {
        var card = (this.history.length <= i) ? '' : (
            this.history[PLAYERS * (((this.history.length - i - 1) / PLAYERS) | 0) + i]);

        var beers = (sips[i] / SIPS) | 0;

        var remaining_sips = (1 + beers) * SIPS - sips[i];

        var st = this.el_state[i];
        st['card'].innerHTML = (card == '') ? '' : card_desc(card);
        st['name'].textContent = positions[i]+'. '+this.players[i];
        st['remaining'].textContent = remaining_sips;
        st['sips'].textContent = sips[i];
        st['beers'].textContent = beers;
        st['average'].textContent = (n[i] ? round_100(sips[i] / n[i]) : '0');
        st['playerstate'].className = 'playerstate position'+positions[i];
    }
};

Game.prototype.render_history = function Game_render_history() {
    var e = this.el_history;
    if (!e.tHead) {
        var thead = document.createElement('thead');
        render_rows(thead, [this.players], 'th');
        e.appendChild(thead);
    }
    if (e.tBodies.length == 0) e.appendChild(document.createElement('tbody'));
    var tb = e.tBodies[0];
    tb.innerHTML = '';
    var rows = [];
    var PLAYERS = this.players.length;
    for (var i = 0; i < this.history.length; i += PLAYERS) {
        rows.push(this.history.slice(i, i+PLAYERS).map(card_symbol));
    }
    render_rows(tb, rows, 'td');
};

Game.prototype.render_chuck_history = function Game_render_chuck_history() {
    var a = [];
    for (var i = 0; i < this.chuck_history.length; ++i) {
        var o = this.chuck_history[i];
        var player = this.players[o.player];
        var card = card_desc(o.card);
        a.push(player+' drew '+card+': '+milliseconds_to_string(o.milliseconds));
        a.push('<br>');
    }
    this.el_chuck_history.innerHTML = a.join('');
};

function suit_to_char(i) {
    return SUITS[i].letter;
}

function number_to_char(i) {
    return '23456789TJQKA'.charAt(i-2);
}

function make_card(suit, n) {
    return suit_to_char(suit) + number_to_char(n);
}

function card_to_suit(card) {
    var suits = {};
    for (var i = 0; i < SUITS.length; ++i) suits[SUITS[i].letter] = i;
    return suits[card.charAt(0)];
}

function card_to_number(card) {
    var ns = {'T': 10, 'J': 11, 'Q': 12, 'K': 13, 'A': 14};
    return (ns[card.charAt(1)] || card.charAt(1)) | 0;
}

function make_deck(suits) {
    deck = [];
    for (var suit = 0; suit < suits; ++suit) {
        for (var n = 2; n <= ACE; ++n) {
            var c = make_card(suit, n);
            deck.push(c);

            // Assertions for correctness
            if (suit != card_to_suit(c)) console.log("Bad suit: "+c);
            if (n != card_to_number(c)) console.log("Bad number: "+c);
        }
    }
    return deck;
}

function shuffled(a) {
    var r = [];
    while (a.length > 0) {
        r.push(a.splice((Math.random() * a.length) | 0, 1)[0]);
    }
    return r;
}

function make_shuffled_deck(suits) {
    return shuffled(make_deck(suits));
}

window.onload = function () {
    var elem_by_id = function (i) { return document.getElementById(i); };
    var game_config = JSON.parse(elem_by_id('game_configuration').value);
    window.academy_game = new Game(elem_by_id, game_config);
    window.ui_draw = function () { window.academy_game.ui_draw(); };
    window.ui_chuck = function () { window.academy_game.ui_chuck(); };
    window.ui_save = function (form) { window.academy_game.ui_save(form); };
    window.ui_shuffle = function () { window.academy_game.ui_shuffle(); };
    window.addEventListener('keypress', function (ev) {
        if (ev.charCode == ' '.charCodeAt(0)) {
            ui_draw();
        }
    }, false);
};
</script>
<style>
body {
    font-family: sans-serif;
}

.state dt {
    float: left;
    width: 160px;
    clear: left;
    white-space: nowrap;
}
.state dd {
    margin-left: 160px;
}

.remainder {
    font-family: monospace;
}

.state .remaining {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 8px;
}

.state {
    margin: 16px 0;
}

.statecolumn {
    width: 160px;
    float: left;
}

.playerstate {
    padding: 8px;
    margin-right: 8px;
    border: 3px solid #cce;
    font-size: 75%;
}

.playerstate.position1 { border-color: #FFD700; }

.playerstate.position2 { border-color: #C0C0C0; }

.playerstate.position3 { border-color: #CD7F32; }

.playerstate .card {
    text-align: center;
    height: 1.2em;
}

.playerstate .name {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.playerstate .label {
    float: left;
    width: 6em;
}

h2 {
    clear: both;
}

#game_configuration {
    display: none;
}

#history thead {
    font-size: 75%;
}

#history td, #history th {
    width: 50px;
}

#history tr {
    border-bottom: 1px solid #aaa;
}

#deck {
    text-align: center;
}

.history, .chucks, #chuck_history, .chuck {
    float: left;
}

.chuck {
    margin-left: 16px;
}

.draw_button, .shuffle_button {
    height: 5em;
    vertical-align: middle;
}

.layout_row {
    clear: both;
    padding-top: 16px;
}

</style>
</head>
<body>

<textarea id="game_configuration">{{ game_json }}</textarea>

<form id="upload_button" method="post" action="{% url 'game_save' pk=game.pk %}">{% csrf_token %}
    <input type="hidden" name="data" value="" />
    <div>
        Game finished!
        <input type="submit" onclick="ui_save(this.form)" value="Upload game" />
    </div>
</form>

<div class="layout_row">
<div style="float: left">
    <table id="deck"></table>
</div>
<div style="float: left">
    <input class="draw_button" type="button" value="Draw next card
(space)" onclick="ui_draw()" />
    <input class="shuffle_button" type="button" value="Shuffle" onclick="ui_shuffle()" />
</div>
</div>

<div class="layout_row">
<div class="state" id="playerstates">
<div id="playerstatetemplate">
    <div class="statecolumn">
        <div class="playerstate">
            <div class="card"></div>
            <div class="name"></div>
            <div>
                <div class="label">Remaining:</div>
                <div class="remaining"></div>
            </div>
            <div>
                <div class="label">Sips:</div>
                <div class="sips"></div>
            </div>
            <div>
                <div class="label">Beers:</div>
                <div class="beers"></div>
            </div>
            <div>
                <div class="label">Average:</div>
                <div class="average"></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="layout_row">
<div class="history">
<table id="history" style="text-align: center">
</table>
</div>

<div class="chucks">
<div id="chuck_history">
</div>
<div class="chuck">
    <span id="chuck"></span><br>
    <input type="button" value="Start/stop" onclick="ui_chuck()" />
</div>
</div>
</div>



<!--
<img id="img_beerbottle" src="data:image/png;base64,
iVBORw0KGgoAAAANSUhEUgAAADIAAABkCAIAAABLivQMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0
MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEu
MC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVz
b3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1N
Ok9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo2RTk4MUM2NDgxQ0RFMDExQUYyQ0U2MTNGMTgx
RUY0RSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0QTRDOUUzMUNCOUMxMUUxOTE5Mzg0RDcx
RDg3NzQzNCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0QTRDOUUzMENCOUMxMUUxOTE5Mzg0
RDcxRDg3NzQzNCIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgV2luZG93
cyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjg4RDk4QTNF
OUNDQkUxMTFBODYzQjUzRDJEM0NBQTNCIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjZFOTgx
QzY0ODFDREUwMTFBRjJDRTYxM0YxODFFRjRFIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpS
REY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8++g6z5AAABJpJREFUaN7t2+1vFEUc
B/DvzM7eczmqILGBqLyAGIgvbExfaIJ9hTHxL4BEX5iYGP0D1Bc+vYBo4luNIVBfoKUqgYA0qGCi
tSEQTQRirdJKaZvetdfr3T7O7uyDL9qaquRu7rrdK3En83Ju7rMzv9mZ2dklYRhi8yWKTZkSViuJ
RVURFw4ApjBGlc6zRm5eOT1y7sofv+jchKIwhfVs6+nf1/dMb//+XXvarpa0PRK5w59/7+WhS0MI
fDAVjEFRQCkAEJLJd51548TBx56KO7a+vz46dH4AjCHXhUwOqcxKzuSQLXDbuHRjtAMhf+33n0EV
LEdSuCavVKzcKt/pQGzZjg0QAFAImAJKQRVQCkKWCyyZWgdYPdt6kFORS+NfwUkJGANhe3fu7gBr
3yOPQviwHFAFhIKGUAAaIgjhA8LbvX1nB2LLEwIiWB3Qa/Jqqhl6B1hzi+W1iP+mslbpAMviVuMC
Vb3WAVapVm5coGJ0gqWZDUOHUoObnu/FzVqsLzauWeeW3qyjo2fVjHrDyZYY3DLiZy01Dh1KNW7o
3IiVJTyhW8bKeuHurUW5HXtr+YHvCvfv6e+unRg6tmabsbI0U9dMvRELACHleiVWliscVwiQJj9v
exHRbmtZRt3SG8UWAGBer8bK4q7jubxJJwLzTe5tUbN0Sxem1rQTK/pSvCzbaNpUABZiZlVkeodS
nVte4MXHqul1ic0eNbhpOjxGlsyiZXlabOuO2iarXJ2X2x0DJMbYsmQmuzAoZgvFbFd8rFK1LNOJ
tuvYIsbYcjxHJuRrlq7HFluO61S1WtOZBwqr1xYmF2ZjYv12Z3x8agxqWmIB5F+8MRIT69TlL11N
a95aABg789N3hmNtOGtusTRw/hOkVKnSavrW9Pjn177ZcNa7A0fmZqekenA18t+/cMJy+Qayzv5w
7uOhD5FJAdLPEFOZscmbRy8c3yjW7MLsK0df9X2BVh/aprNHzn70VSux3wLr7WPvzNyeQird8hgh
1PP9F4+/NS1zE26JNTEzcWp4ENm2ZjgAaqo0P/3Bt59GzBr8elCraGDreGCeypy8OlzSFiNjBWEw
/OMw1nkMwNSFytzo5PXIWKVKaWJmIpITj6t//hoZq6pVl4wlRHBogrHS7chYmqm5hiuzp2ia6rYR
GSudSrN0NIdWRO7a5FhqmqoUMZ7TSrHCMES8R8fJ6WvCSlgJK2H971lhGMb84pIUK5/N5zN5BJuM
lcvkctlcnLP1vdyJyUhMWAkrYSWshJWwElbCSlgJK2ElrGSfuDYxxhRFieT/JC9PitXd1d3d1Q0/
ApYqd/QnxUqpqb79ffDWjfK9/j29UYb84WcPIwX462gxx97xwK5DTxyMknXg8QOvvfQ6eADLgW2D
W3A4XA5PwHPhCQT+P7In4AkIFy6HY8HSt9+349gLbz50/4Myf9fa50cnL372xeXTNbPuBJ7h2CII
6rZOFOaFoWYbIaVQKAilTC0WthDGCtn81vyWYmHr03t7Dz353MNyJqznqyhHuMITdUujhHq+V7f0
1YoIpbSY7yKEFtLZYq6d97dI8tnkvc/6C8SkDz3rQ67OAAAAAElFTkSuQmCC
" />
-->
</body>
</html>
